# IMPORTING library

In [14]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [15]:
dataset=pd.read_csv("C:\powerconsumption\Household_power_consumption.csv")

In [17]:
dataset.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,52.266670
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,72.333336
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,70.566666
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,71.800000
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,43.100000

In [18]:
dataset.tail()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
2075254,2010-11-26 20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,15.766666
2075255,2010-11-26 20:59:00,0.944,0.0,240.00,4.0,0.0,0.0,0.0,15.733334
2075256,2010-11-26 21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,15.633333
2075257,2010-11-26 21:01:00,0.934,0.0,239.70,3.8,0.0,0.0,0.0,15.566667
2075258,2010-11-26 21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,15.533334

In [19]:
print(f"the dataset has {dataset.shape[0]} rows and {dataset.shape[1]} columns")

the dataset has 2075259 rows and 9 columns

In [ ]:
dataset.columns

In [ ]:

#dataset['new_date']=[d.date() for d in dataset['datetime']]
#dataset['new_time']=[d.time() for d in dataset['datetime']]

In [ ]:
dataset.describe()

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
datetime                 object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
sub_metering_4           float64
dtypes: float64(8), object(1)
memory usage: 142.5+ MB

In [ ]:
dataset.head()

In [ ]:
#dataset.drop('datetime',axis='columns',inplace=True)

In [ ]:
dataset.head()

In [ ]:
# preprocessdata

# handling missing value

In [5]:
dataset.isnull().sum()

datetime                 0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
sub_metering_4           0
dtype: int64

In [ ]:
#no missing value exits so no need understand percent of data missing

In [ ]:
percent_missing = dataset.isnull().sum() * 100 / len(dataset)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})

In [ ]:
missing_value_df

In [ ]:
dataset.describe()

In [ ]:
dataset.info()

In [ ]:
#dataset["new_date"]=pd.to_datetime(dataset["new_date"])

In [ ]:

#pd.to_datetime(dataset.new_time,format="%H%M%S")

In [ ]:
dataset.info()

# datavisulaization

In [ ]:
sn.distplot(dataset['Global_active_power'])

In [ ]:
sn.distplot(dataset['Global_active_power'],kde=False,bins=30)

In [ ]:
sn.distplot(dataset['Global_reactive_power'],kde=False,bins=30)

In [ ]:
sn.distplot(dataset['Voltage'],kde=True,bins=30)

In [ ]:
sn.distplot(dataset['Global_intensity'],kde=False,bins=30)

In [ ]:
dataset.corr()

In [ ]:
pearson=dataset.corr(method='pearson')
mask=np.zeros_like(pearson)
mask[np.triu_indices_from(mask)]=True
sn.heatmap(pearson,vmax=1,vmin=0,square=True,cbar=True,annot=True,cmap="YlGnBu",mask=mask);

In [ ]:
sn.jointplot(x='Global_reactive_power',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
sn.jointplot(x='Voltage',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
sn.jointplot(x='Global_intensity',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
sn.jointplot(x='Sub_metering_1',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
sn.jointplot(x='Sub_metering_2',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
sn.jointplot(x='Sub_metering_3',y='Global_active_power',data=dataset,kind='scatter')

In [ ]:
#pd.to_datetime(dataset.datetime,format="%y%d%m%H%M%S")

In [21]:
dataset.datetime=pd.to_datetime(dataset.datetime)

In [23]:
dataset.set_index("datetime",inplace=True)

# independent and depended variable

In [44]:
x=dataset.iloc[:,[1,3,4,5,6]]
y=dataset.iloc[:,1]

In [45]:
x.head()

,Global_reactive_power,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,
2006-12-16 17:24:00,0.418,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,0.436,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,0.498,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,0.502,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,0.528,15.8,0.0,1.0,17.0

In [46]:
y.head()

datetime
2006-12-16 17:24:00    0.418
2006-12-16 17:25:00    0.436
2006-12-16 17:26:00    0.498
2006-12-16 17:27:00    0.502
2006-12-16 17:28:00    0.528
Name: Global_reactive_power, dtype: float64

# splitting and testing

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [49]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_train.shape)

(1452681, 5)
(622578, 5)
(1452681,)
(1452681,)

# training the model

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
lm=LinearRegression()

In [52]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
predictions = lm.predict(x_test)

In [55]:
predictions

array([-1.13390211e-14, -1.13396001e-14,  1.84000000e-01, ...,
        5.40000000e-02, -1.13418063e-14,  1.52000000e-01])

In [57]:
from sklearn import metrics
print('MAE:',metrics.mean_absolute_error(y_test,predictions))
print('MSE:',metrics.mean_squared_error(y_test,predictions))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,predictions)))
print('RSquarevalue:',metrics.r2_score(y_test,predictions))

MAE: 8.00933730516358e-15
MSE: 1.0677939853116176e-28
RMSE: 1.0333411756586581e-14
RSquarevalue: 1.0

In [58]:
import pickle
filename = 'PCASSS_model.pkl'
pickle.dump(lm,open(filename,'wb'))